<?xml version="1.0" encoding="UTF-8"?>
    <config>
        <modules>
            <Meezin_CustomerGrouped>
                <version>0.1.0</version>
            </Meezin_CustomerGrouped>
        </modules>
        <global>
            <helpers>
                <customergrouped>
                    <class>Meezin_CustomerGrouped_Helper</class>
                </customergrouped>
            </helpers>
            <models>
                <meezin_customergrouped>
                    <class>Meezin_CustomerGrouped_Model</class>
                </meezin_customergrouped>
            </models>
            <events>
                <customer_register_success>
                    <observers>
                        <Meezin_CustomerGrouped_customer_register_success>
                            <type>singleton</type>
                            <class>Meezin_CustomerGrouped_Model_Observer</class>
                            <method>customerRegisterSuccess</method>
                        </Meezin_CustomerGrouped_customer_register_success>
                    </observers>
                </customer_register_success>
        </events>
        </global> 
    </config>